//! **************************************************************************
// Written by: Map P.20131013 on Mon Jan 13 22:15:32 2025
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

