//! **************************************************************************
// Written by: Map P.20131013 on Fri Nov 22 00:06:19 2024
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

